body{
    background-color:rgb(68, 67, 67);
    color:azure;
    font-family:"Times New Roman";
}

.header {
   background-color: fuchsia;
   color:whitesmoke;
}

.header h2{
    font: size 30px;;
}

.hero {

}

.products {

}

.shop{

}

.footer {

}